html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #A52A2A;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:#A52A2A;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #A52A2A;
}